<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportClub Sedes</title>
    <link rel="shortcut icon" href="/static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
    <header>
        <img src="https://empresas.sportclub.com.ar/_next/static/media/logo-sportclub-black.126e7e0d.webp" alt="">
        <nav>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/templates/sedes.html">Conocé las sedes</a></li>
                <li><a href="/templates/planes.html">Nuestros planes</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="rel">
        <img src="/static/img/hombre-ejercicio.jpg" alt="">
        <div>
            <h1>Estamos cerca tuyo</h1>
        </div>
    </section>
    <section class="sectionPresentacion">
        <div class="divContainerSedes">
            <div class="cardsedes">
                <img src="/static/img/mendoza.jpg" alt="">
                <h2>Mendoza</h2>
                <p>Mendoza Plaza Shopping</p>
                <a class ="ubicacion" href="https://maps.app.goo.gl/6rg1gVJ6duW9DeZw7">Ver ubicación</a>
            </div>

            <div class="cardsedes">
                <img src="/static/img/BsAs.jpg" alt="">
                <h2>Buenos Aires</h2>
                <p>Olivos</p>
                <a class ="ubicacion" href="https://maps.app.goo.gl/CCHy1Rps6EHDP2Kv8">Ver ubicación</a>
            </div>

            <div class="cardsedes">
                <img src="/static/img/SanLuis.jpg" alt="">
                <h2>San Luis</h2>
                <p>Merlo</p>
                <a class ="ubicacion" href="https://maps.app.goo.gl/2PR81Ukr56jfAL9C7">Ver ubicación</a>
            </div>
        </div>
    </section>
</body>
</html>