<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportClub Sedes</title>
    <link rel="shortcut icon" href="/static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
    <header>
        <img src="https://empresas.sportclub.com.ar/_next/static/media/logo-sportclub-black.126e7e0d.webp" alt="">
        <nav>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/templates/sedes.html">Conocé las sedes</a></li>
                <li><a href="/templates/planes.html">Nuestros planes</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="rel">
        <img src="/static/img/portada_planes.jpg" alt="">
        <div>
            <h1>Nuestros Planes</h1>
        </div>
    </section>
    <section class="sectionPresentacion">
        <div class="divContainerPlanes">
            <div class="cardplanes">
                <img src="/static/img/plan_mensual.jpg" alt="">
                <h2>Plan Mensual</h2>
                <ul>
                    <li>Plan nutricional</li>
                    <li>Plan de entrenamiento</li>
                    <li>8 clases mensuales</li>
                </ul>
                    <p>Precio 15.000</p>
            </div>
            <div class="cardplanes">
                <img src="/static/img/plan_trimestral.jpg" alt="">
                <h2>Plan Trimestral</h2>
                <ul>
                    <li>Plan nutricional</li>
                    <li>Plan de entrenamiento</li>
                    <li>12 clases mensuales</li>
                </ul>
                    <p>Precio 18.500</p>
            </div>
            <div class="cardplanes">
                <img src="/static/img/plan_semestral.jpg" alt="">
                <h2>Plan Semestral</h2>
                <ul>
                    <li>Plan nutricional</li>
                    <li>Plan de entrenamiento</li>
                    <li>24 clases mensuales</li>
                </ul>
                    <p>Precio 21.000</p>
            </div>
        </div>      